@import "../../styles/_includes.scss";

.logo{
    font-size: 40px;
    line-height: 50px;
    border-bottom: 2px solid;
    padding-bottom: 10px;
    font-weight: 600;
    display: flex;
    color: $color-black;

    .icon{
        display: block;
        font-size: 38px;
        margin-top: 7px;
        stroke: black;
        stroke-width: 0.3px;
    }

    @include screen-m-and-lesser{
        font-size: 30px;
        padding-bottom: 2px;

        .icon{
            font-size: 30px;
            margin-top: 10px;
        }
    }

    @include screen-s-and-lesser{
        padding-bottom: 0;
        border: none;
        font-size: 27px;

        .icon{
            font-size: 27px;
            margin-top: 11px;
        }
    }
}
