$color-black-100: rgb(172, 189, 201);
$color-black-300: rgb(133, 133, 133);
$color-black: rgb(38, 39, 41);

$color-black: $color-black;
$color-black-hover: rgba(66, 68, 72, 0.9);
$color-black-light: rgb(61, 67, 79);
$color-black-light-hover: rgba(61, 67, 79, 0.9);

$color-gray: rgba(120, 187, 153, 0.133);
$color-gray-light: rgb(198,209,211);

$color-orange: rgb(255, 98, 50);
$color-orange-hover: rgb(234, 91, 48);

$color-red: rgb(229, 77, 31);

$color-blue: rgb(67 110 143);
$color-blue-hover: rgb(37, 84, 154);
$color-blue-light: rgba(106, 172, 223);
$color-blue-light-hover: rgba(106, 172, 223, 0.6);

$color-primary: $color-black;
$color-primary-hover: $color-black-hover;
$color-primary-light: $color-black-light;
$color-primary-light-hover: $color-black-light-hover;

$color-text: #fff;
$page-background: $color-black;